# Vehicle Sales Data

In [17]:
# Installing the necessary libraries
%pip -q install pandas numpy openpyxl matplotlib rich

Note: you may need to restart the kernel to use updated packages.

## Data Loading

In [18]:
import pandas as pd

In [19]:
df = pd.read_excel("./Vehicle Sales Data.xlsx")

In [20]:
df.head()

,Vehicle Full Code,Vehicle Code,OEM Model Name,SIAM Company Code,SIAM Segment 1,SIAM Segment 2,SIAM Fuel,Month,Year,Production Qty,Domestic Sale,Export Sale,Category,Category Name,YrMth
0,HMPVF2U4DI,PV,PAJRO SFX,HINDUSTAN MOTORS LTD,SUV,UV4:,DIESEL,NOV,2012,0,0,0,PVUV,Utility vehicles PV,01-11-2012
1,HMORF2U4DI,OR,OUTLANDER,HINDUSTAN MOTORS LTD,SUV,UV4:,DIESEL,NOV,2012,0,0,0,PVUV,Utility vehicles PV,01-11-2012
2,SKOAP3EEDI,OA,Octavia,SKODAAUTO INDIA PVT LTD,Premium Car 3,Executive,DIESEL,NOV,2012,0,0,0,PVPC,Passenger car PV,01-11-2012
3,HMORF2U4PT,OR,OUTLANDER,HINDUSTAN MOTORS LTD,SUV,UV4:,PETROL,NOV,2012,0,6,0,PVUV,Utility vehicles PV,01-11-2012
4,FMTXF1U3PT,TX,Trax,FORCE MOTORS LTD,MPV,UV3,PETROL,MAY,2012,0,0,0,PVUV,Utility vehicles PV,01-05-2012

## Exporatory Data Analysis

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19666 entries, 0 to 19665
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Vehicle Full Code  19666 non-null  object
 1   Vehicle Code       19666 non-null  object
 2   OEM Model Name     19666 non-null  object
 3   SIAM Company Code  19666 non-null  object
 4   SIAM Segment 1     19654 non-null  object
 5   SIAM Segment 2     19666 non-null  object
 6   SIAM Fuel          19648 non-null  object
 7   Month              19666 non-null  object
 8   Year               19666 non-null  int64
 9   Production Qty     19666 non-null  int64
 10  Domestic Sale      19666 non-null  int64
 11  Export Sale        19666 non-null  int64
 12  Category           18569 non-null  object
 13  Category Name      18569 non-null  object
 14  YrMth              19666 non-null  object
dtypes: int64(4), object(11)
memory usage: 2.3+ MB

In [22]:
df.describe()

               Year  Production Qty  Domestic Sale   Export Sale
count  19666.000000     19666.00000   19666.000000  19666.000000
mean    2015.257399      1262.62992    1126.482203    238.537628
std        2.290398      2957.78831    2667.334476    963.164029
min     2012.000000       -28.00000    -128.000000      0.000000
25%     2013.000000         0.00000       0.000000      0.000000
50%     2015.000000        35.00000      77.000000      0.000000
75%     2017.000000       950.75000     865.750000      1.000000
max     2019.000000     33128.00000   30499.000000  15088.000000

In [23]:
df.columns

Index(['Vehicle Full Code', 'Vehicle Code', 'OEM Model Name',
       'SIAM Company Code', 'SIAM Segment 1', 'SIAM Segment 2', 'SIAM Fuel',
       'Month', 'Year', 'Production Qty', 'Domestic Sale', 'Export Sale',
       'Category', 'Category Name', 'YrMth'],
      dtype='object')

> Data Description 

| **Column Name**          | **Description**                                                                                                                                                                     |
|--------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Vehicle Full Code**    | Unique identifier combining codes to represent specific details about each vehicle's make, model, or variant.                                                                      |
| **Vehicle Code**         | Generalized code capturing high-level vehicle details, potentially at the brand or model type level.                                                                               |
| **OEM Model Name**       | Model name assigned by the Original Equipment Manufacturer (OEM), referencing brand and model.                                                                                     |
| **SIAM Company Code**    | Unique identifier assigned by the Society of Indian Automobile Manufacturers (SIAM) to link each entry to a manufacturer.                                                          |
| **SIAM Segment 1**       | High-level vehicle segmentation, possibly classifying vehicles based on size, function, or market category (e.g., SUV, MPV).                                                       |
| **SIAM Segment 2**       | Sub-segmentation offering additional detail within the primary segment, such as compact SUVs, executive sedans, etc.                                                               |
| **SIAM Fuel**            | Specifies the vehicle's fuel type (e.g., diesel, petrol, electric), useful for tracking fuel efficiency trends and environmental impact.                                          |
| **Month**                | Month of data recording, allowing for tracking monthly sales, production, and seasonality patterns.                                                                                |
| **Year**                 | Year associated with the record, useful for annual trend analysis. When combined with Month, provides a more detailed temporal view.                                               |
| **Production Qty**       | Number of vehicles produced by the OEM in the specified month and year, useful for examining production trends and supply-demand balance.                                          |
| **Domestic Sale**        | Total units sold within the domestic market, reflecting local demand. Can be compared with exports for insights into market preferences.                                           |
| **Export Sale**          | Number of units exported, indicating vehicles with international demand and export contributions to total sales.                                                                   |
| **Category**             | Broad classification reflecting industry-standard categories (e.g., Passenger Vehicles, Commercial Vehicles) based on vehicle purpose or market positioning.                      |
| **Category Name**        | Descriptive category name detailing the type of vehicle within broader categories, like "utility vehicles" or "passenger cars." Helps in market segment understanding.             |
| **YrMth**                | Combined Month and Year in a single format (e.g., "01-11-2012"), providing a unique month-year identifier for easier time-based analysis.

> Initial Observations:

- Segmentation and fuel details are present in SIAM segment 1 and SIAM segment 2
- Sales data is split across Production Qty, Domestic sale and Export sale
- Temporal information is available in Month, Year and a combined YrMth column
- Category and Category name describe vehicle categories but have some missing values

> Analytical Opportunities:

1. **Segment-Based Analysis**: The dataset allows for insights into which segments (e.g., SUV, MPV) are most popular, as well as potential shifts in consumer preference over time.
2. **Time-Series Analysis**: Monthly and yearly data support time-series analysis, crucial for forecasting and detecting seasonality in production and sales.
3. **Market-Specific Insights**: With both domestic and export sales data, we can compare market trends to identify vehicles that appeal across different markets.
4. **Production vs. Sales Balance**: Examining production versus sales figures can reveal insights into production planning effectiveness and demand alignment.

In [24]:
from rich import print
from rich.table import Table

# Checking for missing values across the dataset
print("[bold]Missing values across the dataset[/bold]")
missing_values = df.isnull().sum()

# Create a table for missing values
table_missing = Table(show_header=True, header_style="bold magenta")
table_missing.add_column("Column", style="dim", width=20)
table_missing.add_column("Missing Values", justify="right")

for col, val in missing_values.items():
    table_missing.add_row(col, str(val))

print(table_missing)

# Checking for duplicate rows
print("[bold]Duplicate rows in the dataset[/bold]")
duplicate_rows = df.duplicated().sum()
print(f"Duplicate Rows: {duplicate_rows}")

# Checking for unique values in each column to spot potential issues
print("[bold]Unique values in each column[/bold]")
unique_values_summary = df.nunique()

# Create a table for unique values
table_unique = Table(show_header=True, header_style="bold magenta")
table_unique.add_column("Column", style="dim", width=20)
table_unique.add_column("Unique Values", justify="right")

for col, val in unique_values_summary.items():
    table_unique.add_row(col, str(val))

print(table_unique)

Missing values across the dataset

┏━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┓
┃ Column               ┃ Missing Values ┃
┡━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━┩
│ Vehicle Full Code    │              0 │
│ Vehicle Code         │              0 │
│ OEM Model Name       │              0 │
│ SIAM Company Code    │              0 │
│ SIAM Segment 1       │             12 │
│ SIAM Segment 2       │              0 │
│ SIAM Fuel            │             18 │
│ Month                │              0 │
│ Year                 │              0 │
│ Production Qty       │              0 │
│ Domestic Sale        │              0 │
│ Export Sale          │              0 │
│ Category             │           1097 │
│ Category Name        │           1097 │
│ YrMth                │              0 │
└──────────────────────┴────────────────┘

Duplicate rows in the dataset

Duplicate Rows: 0

Unique values in each column

┏━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Column               ┃ Unique Values ┃
┡━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ Vehicle Full Code    │           452 │
│ Vehicle Code         │           197 │
│ OEM Model Name       │           206 │
│ SIAM Company Code    │            23 │
│ SIAM Segment 1       │            12 │
│ SIAM Segment 2       │            15 │
│ SIAM Fuel            │             6 │
│ Month                │            12 │
│ Year                 │             8 │
│ Production Qty       │          4413 │
│ Domestic Sale        │          4162 │
│ Export Sale          │          1794 │
│ Category             │             3 │
│ Category Name        │             3 │
│ YrMth                │            93 │
└──────────────────────┴───────────────┘

> Data Quality Findings

-